extends ../../layouts/default.pug
include ../../mixins/ranking.pug

block main  

    main(class="pt-5")
        div(class="container")
            // Grid row
            div(class="row gx-xl-5")
                // Grid column
                div(class="col-xl-8 mb-lg-5 pr-xl-4" style="padding-right: 7px;")
                    a(href=`/question/${question.id}` class="btn btn-secondary mb-2")
                        i(class="fas fa-arrow-left")
                        | Quay lại
                    div(class="question-card card container")
                        if(reply)
                            div(class="card-body")
                                h3(class="mb-4") Chỉnh sửa câu trả lời
                                form(
                                    action=`/question/reply/edit/${reply.id}?_method=PATCH`
                                    method="POST"
                                    enctype="multipart/form-data"
                                )
                                    div(class="form-group")
                                        textarea(
                                            type="text"
                                            class="form-control tinymce"
                                            name="description"
                                            rows="5"
                                        ) #{reply.description}
                                    div(
                                        class="form-group"
                                        upload-image
                                    )
                                        label(for="images" class="p-1") Ảnh
                                        input(
                                            type="file"
                                            class="form-control"
                                            id="images"
                                            name="images"
                                            accept="image/*"
                                            upload-image-input
                                        )
                                        if(reply.images.length <= 0)
                                            image(
                                                class="image-preview"
                                                src=""
                                                upload-image-preview
                                            )
                                        each image in reply.images
                                            image(
                                                class="image-preview image-edit"
                                                src=image
                                                upload-image-preview
                                            )

                                    div(class="form-group mt-3")
                                        button(
                                            type="submit"
                                            class="btn btn-primary"
                                        ) Xác nhận
                        
                    

                div(class="col-xl-4 mb-5 pl-xl-4 d-none d-lg-block" style="padding-left: 5px;")
                    
                    div(class="question-card card mb-5")
                        // Bảng xếp hạng
                        +ranking(ranking)

block script
    script(src="/tinymce/tinymce.min.js")
    script(src="/js/client/tinymce-config.js") 
                    